/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Nav */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  border-radius: 20px;
  border: 1px solid;
  background: #000;
  color: white;
  padding: 15px;
  font-size: 18px;
  margin-left: 325px;
  margin-top: 10px;
}

nav div {
  font-size: 25px;
  font-family: "Gill Sans", "Poppins";
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 20px;
}
nav div:hover {
  background-color: orange;
}

nav ul {
  font-family: "Gill Sans", "Poppins";
  display: flex;
  gap: 15px;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  transition: 0.1s;
}

nav ul a:hover {
  background-color: orange;
}

.download_resume{
    position: absolute;
    left: 350px;
    top: 150px;
}
.download_resume a{
text-decoration: none;
font-size: 18px;
background-color: orange;
color: white;
padding: 8px;
border-radius: 20px;
}
.download_resume a:hover{
    background-color: rgb(209, 146, 29);
}

.resume-container {
    max-width: 800px;
    background-color: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

header p {
    margin: 5px 0 10px;
    font-weight: bold;
    color: #555;
}

.contact span, .contact a {
    font-size: 0.9em;
    color: #666;
    text-decoration: none;
}

.contact a:hover {
    color: #007BFF;
}

/* Sections */
section {
    margin-bottom: 20px;
}

section h2 {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Skills */
.skills {
    list-style-type: square;
    padding-left: 20px;
}

.skills li {
    margin-bottom: 5px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.8em;
    color: #999;
    margin-top: 20px;
}
